<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">

        <!-- Tên nhân viên -->
        <div class="row">
            <h1 class="centered">Nhân viên: <%= user %></h1>
        </div>

        <!-- Chọn địa điểm -->
        <div class="row">
            <form class="col-md-4 m-3 mx-auto" action="/MH-1/attendance" method="post">
                <h4>Chọn địa điểm làm việc<h4>
                <div class="input-group">
                    <select class="form-select" id="location" name="location">
                        <option selected value="1">Tại cơ quan</option>
                        <option value="2">Tại nhà</option>
                    </select>
                    <button class="btn btn-outline-primary" type="submit">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>
