<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">

        <div class="row">
            <!-- Tên nhân viên -->
            <h1 class="centered">Tên nhân viên: <%= name %></h1>
        </div>
        <div class="row">
            <!-- Trạng thái công việc -->
            <h1 class="centered">Trạng thái: <% if (working) { %>Đang làm việc<% } else {%>Không làm việc<% } %></h1>
        </div>

        <div class="row">
            
            <!-- Nút bắt đầu/kết thúc làm -->
            <a class="col-md-4 m-3 mx-auto" href="/MH-1/attendance">
                <button class="btn btn-lg btn-primary col-12" type="submit" name="Attendance">
                    <% if (!working) { %>Điểm danh<% } else {%>Kết thúc làm<% } %>
                </button>
            </a>

            <a class="col-md-4 m-3 mx-auto" href="/MH-1/annualLeave">
                <button class="btn btn-lg btn-primary col-12" type="submit" name="annualLeave">Nghỉ phép</button>
            </a>

            <a class="col-md-4 m-3 mx-auto" href="/MH-1/history">
                <button class="btn btn-lg btn-primary col-12" type="submit" name="annualLeave">Lịch sử điểm danh trong ngày</button>
            </a>
        </div>

    </div>
    <%- include('../includes/end.ejs') %>
