<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">

        <!-- Hiển thị các nút điều hướng -->
        <div class="row">
            <a class="col-md-4 m-3 mx-auto" href="/MH-4/temperature-register">
                <button class="btn btn-lg btn-primary col-12" type="submit" name="annualLeave">Đăng ký thông tin thân nhiệt</button>
            </a>
            <a class="col-md-4 m-3 mx-auto" href="/MH-4/vaccine-register">
                <button class="btn btn-lg btn-primary col-12" type="submit" name="annualLeave">Đăng ký thông tin tiêm vaccine</button>
            </a>
            <a class="col-md-4 m-3 mx-auto" href="/MH-4/covid-report">
                <button class="btn btn-lg btn-primary col-12" type="submit" name="annualLeave">Đăng ký thông tin dương tính với covid</button>
            </a>
        </div>
        
    </div>
    <%- include('../includes/end.ejs') %>
