<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <div class="row centered">
            <h1>Khai báo thân nhiệt</h1>
        </div>
        <div class="row">
            <div class="card mt-5 col-md-8 p-md-5 offset-md-2 ">
                <!-- Hiển thị form nhập thong tin -->
                <form action="/MH-4/temperature-register" method="post">
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Ngày đo:</span>
                                </div>
                                <input type="date" aria-label="country" class="form-control" name="temperatureDate" required>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nhiệt độ</span>
                                </div>
                                <input type="number" aria-label="country" class="form-control" name="temperature" value=36 min=20 max=50 value=36>
                                <span class="input-group-text">độ C</span>
                            </div>
                        </li>
                    <button type="submit" class="btn btn-primary btn-block mb-4">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>
